<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" defer></script>
        <script src="assets/js/main.js" defer></script> 
    </head>
    
    <body ng-app="myApp" class="container">
        <h1>AngularJS Components Injection</h1>
        <section>
            <input-control class="clearfix"></input-control>
            <output-control></output-control>
        </section>
    </body>
    
    <script type="text/ng-template" id="inputTemplate">
        <div>
            <input type="text" ng-model="$ctrl.inputValue">
            <button class="btn" ng-click="$ctrl.addValue()">Click me</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="outputTemplate">
        <div>
            <h2>Results:</h2>
            <ul>
                <li ng-repeat="value in $ctrl.values track by $index">{{value}}</li>
            </ul>
        </div>
    </script>
</html>